/* styles for dmx-frontend/components/c-base-map-light-element/styles.css */
._button_d42vrc {
  position: relative;
  left: -0.5rem;
  top: -0.5rem;
  background: inherit;
  border: none;
  height: 1rem;
  width: 1rem;
  outline: none;
  cursor: pointer;
  /*border-radius: 100%;*/
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px black;
  left: -50%;
}

._single-element_d42vrc {
  border-radius: 100%;
}

._multi-element_d42vrc {
  border: 5px solid transparent;
  margin-left: calc(6px / 2);
  margin-right: calc(6px / 2);
}

._button_d42vrc._selected_d42vrc {
  box-shadow: 0 0 0 5px black, 0 0 0 1px white inset;
}
/* styles for dmx-frontend/components/c-base-map-light/styles.css */
._light_gnsbx7 {
  width: 0;
  height: 0;
  position: absolute;
}

._elements_gnsbx7 {
  display: flex;
  position: absolute;
}

._expand_gnsbx7 {
  position: absolute;
  cursor: pointer;
  transform: translate(-8px, 7px);
}

/* styles for dmx-frontend/components/c-base-map-multi-light-element/styles.css */
._button_lpm5os {
  position: relative;
  left: -0.5rem;
  top: -0.5rem;
  background: inherit;
  border: none;
  height: 1rem;
  width: 1rem;
  outline: none;
  cursor: pointer;
  /*border-radius: 100%;*/
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px black;
  left: -50%;
}

._single-element_lpm5os {
  border-radius: 100%;
}

._multi-element_lpm5os {
  border: 5px solid transparent;
  margin-left: calc(6px / 2);
  margin-right: calc(6px / 2);
}

._button_lpm5os._selected_lpm5os {
  box-shadow: 0 0 0 5px black, 0 0 0 1px white inset;
}

/* styles for dmx-frontend/components/c-base-map/styles.css */
._map_cf85c8 {
  display: flex;
  flex-direction: row;
}

._image_cf85c8 {
  position: relative;
}
/* styles for dmx-frontend/components/color-picker/styles.css */
._colors_1p967g {
  display: flex;
  max-width: 10rem;
  flex-wrap: wrap;
}

._color_1p967g {
  width: 2rem;
  height: 2rem;
  margin: .2rem;
  border: 1px solid black;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
}

._delete-color_1p967g {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  font-size: 20px;
  line-height: 15px;
  color: black;
  text-align: center;
  position: absolute;
  right: calc(-15px / 2);
  top: calc(-15px / 2);
  cursor: pointer;
}
/* styles for dmx-frontend/components/magic-pi/styles.css */
._pi_1cj4fg {
  position: fixed;
  right: 10px;
  bottom: 0px;
  font-size: 2rem;
  color: #777;
}

._pi_1cj4fg:hover {
  color: #000;
  cursor: pointer;
}

._warning_1cj4fg {
  background: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  color: red;
  text-align: center;
  font-size: 5rem;
  padding-top: 30vh;
  font-weight:  200;
  cursor: pointer;
}
/* styles for dmx-frontend/light-fixtures/styles.css */

/* styles for dmx-frontend/styles/app.css */
html {
  font-family: TypoPRO Source Sans Pro;
}